body{
    margin: 0;
}
header{
    background-color: #C92A2A;
    display: flex;
    flex-direction: column;
}
.hdrTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}
.favicon{
    width: 100px;
}

.hdrTop h1{
    color: #FFFFFF;
    font-size: 370%;
}

.signIn{
    font-size: 25px;
    background-color: #C92A2A;
    border: 1px solid #F8F9FA;
    border-radius: 10px;
    padding: 10px 30px;
    color: #F8F9FA;
    margin-right: 40px;
}
.signIn:hover{
    background-color: #F8F9FA;
    color: #212529;
    box-shadow: 1px 2px 12px black;
    cursor: pointer;
}
.signUp{
    font-size: 25px;
    background-color: #F8F9FA;
    color: #212529;
    border: 1px solid #F8F9FA;
    border-radius: 10px;
    padding: 10px 24px;
}
.signUp:hover{
    box-shadow: 1px 2px 12px black;
    cursor: pointer;
}
#navbar{
    display: flex;
    color: white;
    justify-content: center;
    width: 100%;
    align-items: center;
}
#navbar ul{
    list-style-type: none;
}
#navbar ul li{
    display: inline-block;
    padding: 10px 150px;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 23px;
}
#navbar ul li a:hover{
    color: #ff8787;
    cursor: pointer;
}
.hdrBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.hdrText{
    color: #FFFDFD;
    font-size: 270%;
}
#hdrText1{
    position: relative;
    left: 45%;
}
#hdrText2{
    position: relative;
    left: 105%;
}
#hdrText3{
    position: relative;
    left: 150%;
}
.addBtns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 10%;
}
.address{
    display: inline-flex;
    align-items: center;
    font-size: 40px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: #1A1A1A;
}
#locationIcon{
    padding-right: 15px;
    padding-left: 0;
}
.svdAdd{
    text-decoration: underline;
    color: #F8F9FA;
    position: relative;
    left: 10%;
}
.address:hover{
    background-color: #212529;
    color: #F8F9FA;
    box-shadow: 1px 2px 12px black;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
}
#restNear{
    padding-left: 20px;
    font-size: 150%;
}
.res1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.res2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.cards{
    background-color: #F8F9FA;
    border: 2px solid #212529;
    padding: 0;
}
.imgs{
    width: 400px;
    height: 250px;
}
.cardHeads{
    padding-left: 10px;
    color: #212529;
}
.cardDets{
    padding-right: 60px;
    padding-left: 30px;
    color: #495057;
}
.find{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.findCnt{
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.findBtn{
    background-color: #212529;
    color: #F8F9FA;
    font-size: 40px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}
.findImg{
    width: 800px;
}
.order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.orderCnt{
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
.orderBtn{
    background-color: #212529;
    color: #F8F9FA;
    font-size: 40px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}
.orderImg{
    width: 800px;
}
footer{
    background-color: #ADB5BD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.footerLnks:hover{
    text-decoration: underline;
    cursor: pointer;
}
.foot3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}
.social{
    font-size: 60px;
}
.inviteBtn{
    font-size: 35px;
    background-color: #212529;
    color: #F8F9FA;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
}
.arrowIcon{
    padding-left: 30px;
    font-size: 20px;
}